<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<h2><%= @date %></h2>
<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Description</th>
      <th>Room Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_time %></td>
        <td><%= booking.finish_time %></td>
        <td><%= booking.description %></td>
        <td><%= booking.room.room_name %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
