<p id="notice"><%= notice %></p>

<h1>Today's Bookings</h1>
<%= link_to 'New Booking', new_booking_path %>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th>Description</th>
      <th colspan="5">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.room.room_name %></td>
          <td><%= booking.start_time.strftime("%H:%M") %></td>
          <td><%= booking.finish_time.strftime("%H:%M") %></td>
          <td><%= booking.description %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<a href="http://localhost:3000/next?next_date=<%= @next_date %>">Next</a>
