<div class="form-fields">
  <div class="pageFormat">
    <div class="bs-example">
      <div class="panel-group" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">New Booking</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-bar">
                <%= render 'bookings/form', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">New Room</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-bar">
                <%= render 'rooms/form', room: @room %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="calendarGrid">
  <p id="notice"><%= notice %></p>
  <%= week_calendar events: @bookings do |date, bookings| %>
  <h4><%= date.strftime("%B, %d") %></h4>
  <% bookings.each do |booking| %>
  <div style="background-color:<%= booking.room.room_colour %>;">
    <p><%= link_to booking.room.room_name, booking %></a></p>
    <p><%= link_to booking.description, booking %></p>
  </div>
  <% end %>
  <% end %>

</div>
