<div class="simple-calendar">

  <div class="weekNav">
    <div class="calendar-heading">
      <%= link_to t('simple_calendar.previous', default: 'Yesterday'), calendar.url_for_previous_view %>
      <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title">Week <%= calendar.week_number %></span>
      <%else%>
      <span class="calendar-title">Week <%= calendar.week_number %> - <%= calendar.end_week %></span>
      <%end%>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </div>
  </div>

  <!-- <table class="table table-striped">
    <thead>
      <tr class="gridTitle">
        <th class="dayTitle">Time</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody class="calendarBody">
      <% (8..18).each do |num| %>
        <% (0..3).each do |num2| %>
      <tr>
        <% date_range.each_slice(7) do |week| %>
        <td>
          <%= time = (num + num2*0.15)%>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table> -->

  <table class="table table-striped">
    <tr><h3><%= @todaysDate.to_formatted_s(:long)  %></h3></tr>
    <thead>
      <tr>
        <th>Time</th>
        <% @week_range.each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (0..36).each do |num| %>
      <% num2 = (@startTime + (num*15*60)).to_s(:time) %>
        <tr>
          <td>
            <%= (@startTime + (num*15*60)).to_s(:time)  %>
          </td>
          <% @week_range.each do |day| %>
                <td>
              <% @bookings.each do |booking| %>
                <% if num2 > booking.start_time.strftime("1%H:%M") && num2 < booking.finish_time.strftime("%H:%M")%>
                  <div ><%= booking.description %></div>
                <% end %>

              <% end %>
                </td>
              <% end %>


        </tr>
      <% end %>
    </tbody>
  </table>


</div>
