<p id="notice" class="showPage"><%= notice %></p>

<table>
<h1 class="roomPage">Rooms</h1>
<table class="table table-striped">
  <thead>
    <tr id="room_index">
      <th></th>
      <th>Room Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td style="background-color: <%= room.room_colour %>"></td>
        <td><%= room.room_name %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
